<% layout('/layouts/boilerPlate.ejs') %>

<div class="container mt-5 mb-4">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <h3 class="mb-4 text-center">Edit Your Listing</h3>

      <!-- Image Preview -->
      
      <form method="POST" novalidate class="needs-validation" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input id="title" name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
        </div>
       <!-- image preview -->
        <h4>Image Preview</h4>
       <img src="<%= OrginalImageUrl %>" alt="Listing Image" class="card-img-top rounded-top img-fluid"
       style="max-height: 300px; object-fit: cover;">
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea id="description" name="listing[description]" rows="3" class="form-control" required><%= listing.description %></textarea>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input id="image" name="listing[image]" type="file" class="form-control">
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="price" class="form-label">Price (INR)</label>
            <input id="price" name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
          </div>
          <div class="col">
            <label for="location" class="form-label">Location</label>
            <input id="location" name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
          </div>
        </div>

        <div class="mb-4">
          <label for="country" class="form-label">Country</label>
          <input id="country" name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-warning">Update Listing</button>
        </div>

      </form>
    </div>
  </div>
</div>
